Package         Version
--------------- ---------
argcomplete     1.10.0
certifi         2020.6.20
chardet         3.0.4
configparser    5.0.0
dbus-python     1.2.16
decorator       4.4.0
distro          1.4.0
gpg             1.13.1
idna            2.10
libcomps        0.1.15
mysql-client    0.0.1
mysqlclient     2.0.1
nftables        0.1
pip             20.2.2
pydbus          0.6.0
PyGObject       3.36.1
PyMySQL         0.10.0
python-augeas   0.5.0
python-dateutil 2.8.0
requests        2.24.0
rpm             4.15.1
selinux         3.0
sepolicy        3.0
setools         4.3.0
setroubleshoot  1.1
setuptools      41.6.0
six             1.14.0
slip            0.6.4
slip.dbus       0.6.4
sos             3.9
ssh-import-id   5.10
systemd-python  234
urllib3         1.25.9
